:root {
  --fullWidth: 100%;
}

body {
  font-size: 10px;
  margin: 0;
}

.gallery-component-section_title {
  font-size: 2em;
}
.gallery-component-section {
  padding: 1em;
  height: auto;
}

.gallery-images-container {
  width: var(--fullWidth);
  display: grid;
  gap: 1em;
}

.image-container {
  width: 150px;
}
